
h1, h2 {
    font-family: Nanum Gothic, sans-serif;
}
#QSE, li{
    font-family: Quicksand, sans-serif;
}
li{
    list-style-type:circle;
}
body{
    background-color:#b5838d;
}
#nacionalidade{
    font-weight: bold;
}
#natural{
    font-style: italic;
}
.hards{
    font-size: 20px;
}
.softs{
    font-size: 30px;
}
#imag{
    top:50px;
    padding: 2px;
    border-radius: 50%;
    background-color:#6d6875;
   


}
#imag, #description{
    width: 35%;
    display:inline-block;
    text-align: center;
}
#description{
    float:right; 
    width: 60%;
    margin-right:10px;
}
#Gabriela{
    border-radius: 50%;
}
#description #QSE{
    margin-left: 0px;
}
div:nth-of-type(1){
    text-align: center;
}
#AI{
    top:5px;
    font-size: medium;
}
