
h1, h2 {
    font-family: Nanum Gothic, sans-serif;
}
#QSE, li{
    font-family: Quicksand, sans-serif;
}
li{
    list-style-type:circle;
   
}
body{
    background-color:#b5838d;
    padding: 1%;
    margin-top: 0%;
}
#nacionalidade{
    font-weight: bold;
}
#natural{
    font-style: italic;
}
#imag{
    top:10px;
    padding: 2px;
    border-radius: 50%;
}
#imag, #description{
    width: 35%;
    display:inline-block;
    text-align: center;
}
#description{
    float:right; 
    width: 60%;
    margin-right:10px;
    text-align:center;

}
#Gabriela{
    border-radius: 50%;
}
#description #QSE{
    margin-left: 0px;
}
div:nth-of-type(1){
    text-align: center;
}
#AI{
    padding-top:0%;
    font-size: medium;
}
a:link{
    text-decoration: underline;
    color:black;
}
a:visited{
    text-decoration: underline;
    color:black;
}
#nome{
    font-size: 50px;
    text-shadow: grey 4px 6px 4px;
}